@charset "UTF-8";

/* 基本 */
body {
  margin: 0;
  background-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

/* 横幅と左右の余白 */
.w-container {
  max-width: 1166px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ヘッダー */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 72px;
  background-color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* ナビゲーションボタン */
.navbtn {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #aaaaaa;
  font-size: 30px;
}

/* ヒーロー */
.hero {
  height: 650px;
  background-image: url(img/hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 100%;
}

.hero h1 {
  margin-bottom: 42px;
}

.hero p {
  margin-bottom: 72px;
}
